<a href="https://colab.research.google.com/github/mooochiiii/exercise/blob/main/bt2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# khởi tạo tuples
tup1 = ('physics', 'chemistry', 1997, 2000)
print(tup1)
tup2 = (1, 2, 3, 4, 5 )
tup3 = "a", "b", "c", "d"
tup1 = ()
print(tup1)
tup1 = (50,)
print(tup1,'\n',tup2,'\n',tup3)

('physics', 'chemistry', 1997, 2000)
()
(50,)
 (1, 2, 3, 4, 5)
 ('a', 'b', 'c', 'd')

In [2]:
# truy cập các phần tử tuples
tup1 = ('physics', 'chemistry', 1997, 2000)
tup2 = (1, 2, 3, 4, 5, 6, 7 )
print("tup1[0]: ", tup1[0])
print("tup2[1:5]: ", tup2[1:5])

tup1[0]:  physics
tup2[1:5]:  (2, 3, 4, 5)

In [3]:
# thay đổi giá trị phần tử tuples
tup1 = (12, 34.56)
tup2 = ('abc', 'xyz')
tup3 = tup1 + tup2
print(tup3)

(12, 34.56, 'abc', 'xyz')

In [6]:
# xóa phần tử
tup1 = ('physics', 'chemistry', 1997, 2000)
print(tup1)
del tup1
print("After deleting tup : ")
print(tup1)

('physics', 'chemistry', 1997, 2000)
After deleting tup :

NameError: ignored

In [8]:
# cac thao tac co ban
tup1 = len((1, 2, 3))
tup2 = (1, 2, 3) + (4, 5, 6)
tup3 = ('Hi!') * 3
tup4 = 3 in (1, 2, 3)
print(tup1,'\n',tup2,'\n',tup3,'\n',tup4)

3
 (1, 2, 3, 4, 5, 6)
 Hi!Hi!Hi!
 True

In [9]:
# ham dung san
t1 =(1,2,3,4,5)
print(len(t1),max(t1),min(t1))

5 5 1

In [32]:
# khoi tao dict
dict1 = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
print("dict['Name']: ", dict1['Name'])
print("dict['Age']: ", dict1['Age'])

dict['Name']:  Zara
dict['Age']:  7

In [33]:
# thay doi
dict1 = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
dict1['Age'] = 8; # update existing entry
dict1['School'] = "DPS School"; # Add new entry
print("dict['Age']: ", dict1['Age'])
print("dict['School']: ", dict1['School'])

dict['Age']:  8
dict['School']:  DPS School

In [20]:
# xoa
dict1 = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
del dict1['Name'] 
print(dict1)
dict1.clear()
print(dict1)
del dict1
print(dict1)

{'Age': 7, 'Class': 'First'}
{}

NameError: ignored

In [14]:
# ham dung san
d1 = {1,2,3,4,5}
print(len(d1),str(d1))

5 {1, 2, 3, 4, 5}

In [31]:
# set
Set1 = set(["a", "b", "c"])
print("Set: ")
print(Set1)
Set1.add("d")
print("\nSet after adding: ")
print(Set1)

Set:
{'b', 'c', 'a'}

Set after adding:
{'d', 'b', 'c', 'a'}

In [30]:
# them phan tu
people = {"Jay", "Idrish", "Archi"}
print("People: ")
print(people)
people.add("Daxit")
for i in range(1, 6):
  people.add('i')
print("\nSet after adding element:", end = " ")
print(people)

People:
{'Jay', 'Archi', 'Idrish'}

Set after adding element: {'Idrish', 'Daxit', 'i', 'Jay', 'Archi'}

In [21]:
# bot phan tu
Days=set(["Mon","Tue","Wed","Thu","Fri","Sat"])
Days.discard("Sun")
print(Days)

{'Thu', 'Mon', 'Sat', 'Fri', 'Tue', 'Wed'}

In [22]:
# xoa toan bo
set1 = {1,2,3,4,5,6}
print("Initial set")
print(set1)
set1.clear()
print("\nSet after using clear() function")
print(set1)

Initial set
{1, 2, 3, 4, 5, 6}

Set after using clear() function
set()

In [23]:
# phep hop
people = {"Jay", "Idrish", "Archil"}
vampires = {"Karan", "Arjun"}
dracula = {"Deepanshu", "Raju"}
population = people.union(vampires)
print("Union using union() function")
print(population)
population = people|dracula
print("\nUnion using '|' operator")
print(population)

Union using union() function
{'Karan', 'Arjun', 'Jay', 'Archil', 'Idrish'}

Union using '|' operator
{'Raju', 'Jay', 'Deepanshu', 'Archil', 'Idrish'}

In [29]:
# phep hieu
set1 = set()
for i in range(5):
  set1.add(i)
set2 = {3, 4, 5, 6, 7, 8}
set3 = set1.difference(set2)
print(" Difference of two sets using difference() function")
print(set3)
set3 = set1 - set2
print("\nDifference of two sets using '-' operator")
print(set3)

 Difference of two sets using difference() function
{0, 1, 2}

Difference of two sets using '-' operator
{0, 1, 2}

In [25]:
# kiem tra tap con - tap cha
DaysA = set(["Mon","Tue","Wed"])
DaysB = set(["Mon","Tue","Wed","Thu","Fri","Sat","Sun"])
SubsetRes = DaysA <= DaysB
SupersetRes = DaysB >= DaysA
print(SubsetRes)
print(SupersetRes)

True
True

In [26]:
# date&time lay ngay gio hien tai
import time; 
ticks = time.time()
print("Number of ticks since 12:00am, January 1, 1970:", ticks)
localtime = time.localtime(time.time())
print("Local current time :", localtime)

Number of ticks since 12:00am, January 1, 1970: 1636964150.965402
Local current time : time.struct_time(tm_year=2021, tm_mon=11, tm_mday=15, tm_hour=8, tm_min=15, tm_sec=50, tm_wday=0, tm_yday=319, tm_isdst=0)

In [27]:
# dinh dang thoi gian
import time;
localtime = time.asctime( time.localtime(time.time()) )
print("Local current time :", localtime)

Local current time : Mon Nov 15 08:15:55 2021

In [28]:
# lay lich 1 thang
import calendar
cal = calendar.month(2008, 1)
print("Here is the calendar:")
print(cal)

Here is the calendar:
    January 2008
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31