<a href="https://colab.research.google.com/github/mooochiiii/exercise/blob/main/B%C3%A0i_t%E1%BA%ADp_x%C3%A2y_d%E1%BB%B1ng_vector_%C4%91%E1%BA%B7c_tr%C6%B0ng_cho_v%C4%83n_b%E1%BA%A3n.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Văn bản tiếng Anh

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [27]:
vb01 = open('/content/drive/MyDrive/Classroom/corpus-tf-idf/tieng Anh/vb01.txt', 
                                                                encoding='cp1252')
vb02 = open('/content/drive/MyDrive/Classroom/corpus-tf-idf/tieng Anh/vb02.txt', 
                                                                encoding='cp1252')
vb03 = open('/content/drive/MyDrive/Classroom/corpus-tf-idf/tieng Anh/vb03.txt', 
                                                                encoding='cp1252')
vb04 = open('/content/drive/MyDrive/Classroom/corpus-tf-idf/tieng Anh/vb04.txt', 
                                                                encoding='cp1252')
vb05 = open('/content/drive/MyDrive/Classroom/corpus-tf-idf/tieng Anh/vb05.txt', 
                                                                encoding='cp1252')
doc_vb01 = vb01.read()
doc_vb02 = vb02.read()
doc_vb03 = vb03.read()
doc_vb04 = vb04.read()
doc_vb05 = vb05.read()

In [23]:
doc1 = doc_vb01.split(" ")
doc2 = doc_vb02.split(" ")
doc3 = doc_vb03.split(" ")
doc4 = doc_vb04.split(" ")
doc5 = doc_vb05.split(" ")

In [4]:
wordSet = set(doc1).union(set(doc2)).union(set(doc3)).union(set(doc4)).union(set(doc5))

In [5]:
wordDict1 = dict.fromkeys(wordSet, 0) 
wordDict2 = dict.fromkeys(wordSet, 0) 
wordDict3 = dict.fromkeys(wordSet, 0) 
wordDict4 = dict.fromkeys(wordSet, 0) 
wordDict5 = dict.fromkeys(wordSet, 0)

In [6]:
for word in doc1:
    wordDict1[word]+=1
    
for word in doc2:
    wordDict2[word]+=1

for word in doc3:
    wordDict3[word]+=1

for word in doc4:
    wordDict4[word]+=1

for word in doc5:
    wordDict5[word]+=1

In [24]:
import pandas as pd

In [25]:
pd.DataFrame([wordDict1, 
              wordDict2, 
              wordDict3, 
              wordDict4, 
              wordDict5])

,"máu,",sáng,r?c,bài,Quang,nghi,bý?c,"11/7/2022,","gia,",câu,...,ði?n,nhi?u?\n\nGià,kh?u,thu?c,"VCCorp,",b?i,D?,Yoshinobu,ích,USD
0,0,0,0,0,0,1,0,0,0,2,...,0,0,0,0,2,0,0,0,1,1
1,0,0,0,2,0,0,0,0,0,0,...,2,0,0,1,0,0,0,0,0,0
2,1,0,0,0,0,0,1,0,1,0,...,0,0,0,2,0,0,0,0,0,0
3,0,5,1,5,0,0,8,1,0,3,...,2,1,5,2,0,10,1,1,0,0
4,0,0,0,0,2,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [8]:
def computeTF(wordDict, words):
    tfDict = {}
    wordslen = len(words)
    for word, count in wordDict.items():
        tfDict[word] = count/float(wordslen)
    return tfDict

In [28]:
tf_doc1 = computeTF(wordDict1, doc1)
tf_doc2 = computeTF(wordDict2, doc2)
tf_doc3 = computeTF(wordDict3, doc3)
tf_doc4 = computeTF(wordDict4, doc4)
tf_doc5 = computeTF(wordDict5, doc5)

In [29]:
def computeIDF(docList):
    import math
    idfDict = {}
    N = len(docList)
    
    idfDict = dict.fromkeys(docList[0].keys(), 0)
    for doc in docList:
        for word, val in doc.items():
            if val > 0:
                idfDict[word] += 1
    
    for word, val in idfDict.items():
        idfDict[word] = math.log10(N / float(val))
        
    return idfDict

In [30]:
idfs = computeIDF([wordDict1, wordDict2, wordDict3, wordDict4, wordDict5])

In [12]:
def computeTFIDF(tfDocs, idfs):
    tfidf = {}
    for word, val in tfDocs.items():
        tfidf[word] = val*idfs[word]
    return tfidf

In [31]:
tfidfDoc1 = computeTFIDF(tf_doc1, idfs)
tfidfDoc2 = computeTFIDF(tf_doc2, idfs)
tfidfDoc3 = computeTFIDF(tf_doc3, idfs)
tfidfDoc4 = computeTFIDF(tf_doc4, idfs)
tfidfDoc5 = computeTFIDF(tf_doc5, idfs)

#Văn bản tiếng Việt

In [33]:
vbtv1 = open('/content/drive/MyDrive/Classroom/corpus-tf-idf/tieng Viet/vb01.txt', 
                                                                  encoding='cp1252')
vbtv2 = open('/content/drive/MyDrive/Classroom/corpus-tf-idf/tieng Viet/vb02.txt', 
                                                                  encoding='cp1252')
vbtv3 = open('/content/drive/MyDrive/Classroom/corpus-tf-idf/tieng Viet/vb03.txt', 
                                                                  encoding='cp1252')
vbtv4 = open('/content/drive/MyDrive/Classroom/corpus-tf-idf/tieng Viet/vb04.txt', 
                                                                  encoding='cp1252')
vbtv5 = open('/content/drive/MyDrive/Classroom/corpus-tf-idf/tieng Viet/vb05.txt', 
                                                                  encoding='cp1252')
docvbtv1 = vbtv1.read()
docvbtv2 = vbtv2.read()
docvbtv3 = vbtv3.read()
docvbtv4 = vbtv4.read()
docvbtv5 = vbtv5.read()

In [15]:
doc1 = docvbtv1.split(" ")
doc2 = docvbtv2.split(" ")
doc3 = docvbtv3.split(" ")
doc4 = docvbtv4.split(" ")
doc5 = docvbtv5.split(" ")

In [16]:
wordSet = set(doc1).union(set(doc2)).union(set(doc3)).union(set(doc4)).union(set(doc5))

In [17]:
wordDict1 = dict.fromkeys(wordSet, 0) 
wordDict2 = dict.fromkeys(wordSet, 0) 
wordDict3 = dict.fromkeys(wordSet, 0) 
wordDict4 = dict.fromkeys(wordSet, 0) 
wordDict5 = dict.fromkeys(wordSet, 0)

In [18]:
for word in doc1:
    wordDict1[word]+=1
    
for word in doc2:
    wordDict2[word]+=1

for word in doc3:
    wordDict3[word]+=1

for word in doc4:
    wordDict4[word]+=1

for word in doc5:
    wordDict5[word]+=1

In [19]:
import pandas as pd
pd.DataFrame([wordDict1, wordDict2, wordDict3, wordDict4, wordDict5])

,"máu,",sáng,r?c,bài,Quang,nghi,bý?c,"11/7/2022,","gia,",câu,...,ði?n,nhi?u?\n\nGià,kh?u,thu?c,"VCCorp,",b?i,D?,Yoshinobu,ích,USD
0,0,0,0,0,0,1,0,0,0,2,...,0,0,0,0,2,0,0,0,1,1
1,0,0,0,2,0,0,0,0,0,0,...,2,0,0,1,0,0,0,0,0,0
2,1,0,0,0,0,0,1,0,1,0,...,0,0,0,2,0,0,0,0,0,0
3,0,5,1,5,0,0,8,1,0,3,...,2,1,5,2,0,10,1,1,0,0
4,0,0,0,0,2,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [20]:
def computeTF(wordDict, words):
    tfDict = {}
    wordslen = len(words)
    for word, count in wordDict.items():
        tfDict[word] = count/float(wordslen)
    return tfDict

In [21]:
tfdoc1 = computeTF(wordDict1, doc1)
tfdoc2 = computeTF(wordDict2, doc2)
tfdoc3 = computeTF(wordDict3, doc3)
tfdoc4 = computeTF(wordDict4, doc4)
tfdoc5 = computeTF(wordDict5, doc5)

In [34]:
def computeIDF(docList):
    import math
    idfDict = {}
    N = len(docList)
    
    idfDict = dict.fromkeys(docList[0].keys(), 0)
    for doc in docList:
        for word, val in doc.items():
            if val > 0:
                idfDict[word] += 1
    
    for word, val in idfDict.items():
        idfDict[word] = math.log10(N / float(val))
        
    return idfDict

In [35]:
idfs = computeIDF([wordDict1, wordDict2, wordDict3, wordDict4, wordDict5])

In [36]:
def computeTFIDF(tfDocs, idfs):
    tfidf = {}
    for word, val in tfDocs.items():
        tfidf[word] = val*idfs[word]
    return tfidf

In [37]:
tfidfDoc1 = computeTFIDF(tfdoc1, idfs)
tfidfDoc2 = computeTFIDF(tfdoc2, idfs)
tfidfDoc3 = computeTFIDF(tfdoc3, idfs)
tfidfDoc4 = computeTFIDF(tfdoc4, idfs)
tfidfDoc5 = computeTFIDF(tfdoc5, idfs)